<a href="#" class="nav-styleguide-trigger js-nav-styleguide-trigger open" title="Click to close">
  <i class="fas fa-times"></i>
</a>
<div class="nav-styleguide-scrollbar js-nav-styleguide-target open">
  <nav class="nav-styleguide padding-top-bottom-30">
    <ul class="list-unstyled scrollbar-macosx">
      {{{Navigation}}}
    </ul>
  </nav>
</div>
